* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 530px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 22px Times, sans-serif;
    background-color: #EAE7DC;
    color: #8E8D8A;
}

.container {
    max-width: 1440px;
    min-height: 50px;
    margin: 0px auto;

}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 15px 0px;
    z-index: 2;


}

.nav-link {
    position: relative;
    padding: 0px 15px;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    text-decoration: none;
    color: #8E8D8A;
    border: #D8C3A5;
    text-decoration: none;
    font-variant: small-caps;
    transition: color 0.5s;
    transition: border 0.5s;
    margin: 1px;
}

.nav-item :hover {
    color: #E98074;
    border-radius: 7px;
    border: 1px solid #E98074;
    margin: 0px;
}

.section-item a,
.link {
    font-size: 22px;
    text-decoration: none;
    color: #E98074;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #E85A4F;
}

.link:hover {
    color: #E85A4F;
}

.main {
    margin-bottom: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.section {
    width: 40%;
    min-width: 400px;
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #D8C3A5;
}

.container-img {
    margin-top: auto;
    margin-bottom: auto;
}

.section-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: 0.7s;
}

.section-img:hover {
    transform: scale(1.10);
}

.section-title {
    color: #E85A4F;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

.section-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px 30px 10px;
}

.section-profile-main {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 36px;
    color: #E85A4F;
    letter-spacing: 10px;
    word-spacing: 3px;
    padding-top: 15px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 12px;
    padding-top: 15px;
}

.section-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 30px;

}

.section.section-profile {
    text-align: center;
    border-bottom: none;
}

#languages {
    width: 40%;
    border-bottom: none;
    ;
}

#contacts,
#summary,
#codeExample,
#skills,
#projects,
#education,
#courses {
    border-top: 10px solid #D8C3A5;
    border-bottom: none;
}

#languages {
    border-top: 10px solid #D8C3A5;
}


footer {
    height: 80px;
    background-color: #D8C3A5;
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

p {
    padding-left: 0px;
    margin: 0px;
}

.section-text {
    line-height: 30px;
    letter-spacing: 1px;
}

.rss {
    width: 120px;
    height: 40px;
    background-image: url("./assets/svg/RSSlogo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.7s;
}

.rss:hover {
    transform: scale(1.1);
}

.contacts-item:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
    background-image: url("./assets/svg/geo.svg");
}

.contacts-item:nth-child(2):before {
    background-image: url("./assets/svg/mail.svg");
}

.contacts-item:nth-child(3):before {
    background-image: url("./assets/svg/gitHub.svg");
}

.contacts-item:nth-child(4):before {
    background-image: url("./assets/svg/discord.svg");
}

.contacts-item:nth-child(5):before {
    background-image: url("./assets/svg/tg.svg");
}

.skill-list,
.project-list {
    padding: 0;
}

.section-item:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url("./assets/svg/arrow.svg");
}


.header {
    background-color: #D8C3A5;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

@media (max-width:1140px) {

    /* .nav {
        display: none;
    } */
    .nav-link {
        font-size: 20px;
        padding: 0 10px;
    }
}

@media (max-width:920px) {

    .nav {
        display: none;
    }
}